/* 
    Personal portfolio website
    name: iwmvictor
    email: isingizwemunezerovictor5@gmail.com
    klab project / project 01
*/

/* css code starts here*/

:root{
    /* colors used */
    --deep-color: rgb(4, 12, 22);
    --midnight-color: rgb(7, 34, 58);
    --ocean-color: rgb(6, 45, 78);
    --night-color: rgb(6, 54, 96);
    --light-color: rgb(7, 136, 225);
    --text-color: #fff;
    --subtext-color: #707478;

    /* font sizes used */
    --h1-size: 48px;
    --h2-size: 36px;
    --h3-size: 32px;
    --p-size: 21px;
    --a-size: 21px;

    /* font weights */
    --bold: 600;
    --medium: 500;
    --regular: 400;

}



*{
    font-family: "Space Grotesk", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    transition: all 0.3s linear;
}

a{
    text-decoration: none;
    font-size: var(--a-size);
    text-transform: uppercase;
    color: var(--text-color);
}

h1{
    font-size: var(--h1-size);
    font-weight: var(--bold);
}

h2{
    font-size: var(--h2-size);
    font-weight: var(--bold);
}

h3{
    font-size: var(--h3-size);
    font-weight: var(--medium);
}

p{
    font-size: var(--p-size);
    font-weight: var(--regular);
}

ul{
    list-style: none;
}

section{
    padding: 40px 0;
}

img{
    user-select: none;
}


/*styles for scroll*/
::-webkit-scrollbar{
    width: 12px;
    background: var(--subtext-color);
}

::-webkit-scrollbar-thumb{
    background: var(--night-color);
}


body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #07233B 1.67%, #041D34 39.95%, #04192D 58.24%, #040E18 80.28%, #050C16 101.48%);
}

/* reusable css */
.container{
    width: 85%;
    margin: auto;
}

.row{
    display: flex;
}

.col-2{
    flex-basis: 48%;
    margin: auto;
}




/* header styles*/
header{
    width: 100%;
    margin: auto;
    background: transparent;
    box-shadow: 0px 4px 8px var(--deep-color);
}

/* nav */
nav{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav ul li a{
    padding: 0 10px;
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--light-color);
}

a.btn{
    background: var(--light-color);
    border: 2px solid var(--light-color);
    padding: 12px 30px;
    border-radius: 10px;
}

a.btn:hover{
    border: 2px solid var(--text-color);
    background: var(--deep-color);
}

/* nav ends here */

#experience,
#services,
#project,
#home {
    padding: 80px 0;
}

/* home styles*/

.section-heading h6 span, 
.section-heading p span,
.hero .col-2 span{
    font-size: var(--p-size) ;
    color: var(--text-color);
    font-weight: var(--regular);
    background: rgba(4, 12, 22, 0.616);
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.hero .col-2 h1{
    text-transform: uppercase;
    font-size: var(--h1-size);
    font-weight: var(--bold);
    color: var(--text-color);
    padding: 10px 0;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  
@keyframes blinking {
    50% {
      border-right-color: transparent;
    }
}
  
.typing {
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 3px solid var(--subtext-color); */
    animation: typing 5s steps(40, end) infinite, blinking 0.75s step-end infinite;
}

h1.typing{
    color: var(--light-color);
}

.hero .col-2 p{
    color: var(--subtext-color);
}

.col-2 img{
    width: 400px; 
    flex-shrink: 0;
    border-radius: 224.5px;
    border: 6px solid #040C16;
    background: var(--deep-color);
}


/* Basic styling for the buttons and icons */

  .cta{
    padding: 20px 0;
  }
.cta ul {
    list-style: none;
    display: flex;
    gap: 15px; /* Increase gap for better spacing */
    margin: 0;
    padding: 0;
}
  
a.btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background: var(--light-color);
    border: 2px solid var(--light-color);
    padding: 15px 35px;
    border-radius: 15px;
    color: var(--text-color);
    font-weight: bold;
}
  
a.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Slightly increase width */
    height: 60px; /* Slightly increase height */
    background: var(--light-color);
    border: 2px solid var(--light-color);
    border-radius: 50%;
    font-size: 32px;
    color: var(--text-color);
}
  
  /* Hover effect */
a.btn:hover {
    border: 2px solid var(--text-color);
    background: var(--deep-color);
}
  
a.icon:hover {
    border: 2px solid var(--text-color);
    background: var(--deep-color);
    color: var(--text-color);
}

a.icon i:hover{
    transform: rotate(360deg);
}
  
/* brands styles */
.brand-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between images */
    margin-top: 30px; /* Add margin to separate from previous content */
}
  
.brand-list img {
    max-width: 100%; /* Ensure images don't exceed their original size */
    width: 200px;
    height: auto; /* Maintain aspect ratio */
}
  
section.brands,
#experience,
.project{
    background: var(--ocean-color);
    padding: 20px 0 30px 0;
}

/*about section */

.aboutme{
    padding: 70px 0;
}

.section-heading h2{
    text-transform: uppercase;
    font-size: var(--h1-size);
    font-weight: var(--bold);
    color: var(--text-color);
    padding: 10px 0;
}
  
.section-heading h2 span{
    color: var(--light-color);
}

.about-text p{
    color: var(--text-color);
}

.review-box {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px 0; 
    border-radius: 10px;
}
  
.r-box {
    flex: 1;
    background-color: var(--ocean-color);
    border: .1px solid var(--subtext-color);
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}
  
.r-box h3 {
    font-size: 24px;
    color: var(--text-color); /* Specify text color */
}
  
.r-box label {
    font-size: 17px;
    color: var(--subtext-color); /* Specify subtext color */
}
  

    
.carousel-container {
    overflow-x: auto;
}

.owl-carousel {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
    white-space: nowrap; /* Prevent line breaks */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.project-box {
    background: var(--text-color);
    flex: 0 0 auto;
    width: 300px; /* Set a fixed width for each project box */
    border: 1px solid var(--subtext-color);
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
}

.project-media img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: inset 1px 4px 8px var(--deep-color);
}

.project-body {
    display: flex;
    justify-content: space-between;
}

.project-body .text,
.project-body .link{
    padding: 15px 0 10px 0;
}

.p-link {
    font-size: 24px;
    background: var(--light-color);
    padding: 10px 13px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
}

.p-link:hover{
    box-shadow: inset 0 4px 8px  var(--deep-color);
}

.nav-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add spacing */
}

.nav-scroll i {
    font-size: 42px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    background: var(--deep-color);
    margin: 0 10px; /* Add spacing between icons */
    color: var(--subtext-color); /* Adjust color */
}

.nav-scroll i:hover {
    color: var(--deep-color); /* Adjust color on hover */
    background: var(--light-color);
}


.services-row{
    padding: 20px 10px;
}

.services-row .col-4{
    flex-basis: 23%;
    margin: auto;
}

.services-box{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: auto;
    padding: 150px 20px 40px 20px;
    box-shadow: inset 0 4px 8px var(--ocean-color);
    
}

.services-body .icon {
    padding: 10px 0;
}

.services-body .icon i{
    font-size: 32px;
    background: var(--light-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
}

.services-body h4{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px 0;
    font-weight: var(--medium);
    text-transform: uppercase;
    text-shadow: 1px 4px 8px var(--deep-color);
}

.services-body p{
    color: #ffffffcb;
    font-weight: lighter;
}

.services-body hr{
    border: 1px solid rgba(7, 138, 225, 0.411);
    margin: 15px 0;
}

.services-body .rating i{
    color: var(--light-color);
    font-size: var(--p-size);
}

.experience{
    padding: 60px 0;
}


.experience-box{
    background: var(--night-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.ex-left{
    background: var(--light-color);
    width: 850px;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    text-transform: uppercase;
}

.ex-left h4{
    color: var(--text-color);
    font-weight: var(--bold);
    font-size: var(--h3-size);
}

.ex-left span{
    color: var(--deep-color);
    font-size: 18px;
    padding: 10px 0;
    font-weight: var(--regular);
}

.ex-left p{
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 0;
    font-weight: var(--medium);
}

.ex-left label{
    background: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--light-color);
    font-size: 21px;
    font-weight: var(--medium);
}

.ex-right{
    padding: 10px 30px;
    color: var(--text-color);
}

.ex-right h5{
    font-size: 32px;
    font-weight: var(--bold);
    padding: 0 0 10px 0;
}

.ex-right p{
    font-weight: var(--regular);
    font-size: var(--p-size);
}

/* testimonials */
#testimonials{
    padding: 10rem 0;
}

.testimony {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.testimonial-box {
    background-color: var(--night-color);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 20px;
    max-width: 400px;
}

.t-user img {
    width: 100px;
    border-radius: 20%;
    margin: 0 auto 20px;
    border: 3px solid var(--light-color);
}

.t-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    overflow: hidden;
    max-width: 100%;
}

.t-person h6 {
    margin: 0 0 5px;
    font-size: 21px;
    color: var(--text-color);
}

.t-person span {
    font-size: 14px;
    color: var(--light-color);
}

.text-center{
    text-align: center;
}


/* Styling for Contact Us Section */
.cover{
    background: rgba(5, 38, 72, 0.8);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    border: .1px solid rgba(255, 255, 255, 0.1);
}

.cover div{
    padding: 30px 0;
}

.cover div h2{
    color: var(--text-color);
    font-size: var(--h2-size);
    padding-right: 60px;
}

.cover div p{
    color: var(--subtext-color);
    font-size: var(--p-size);
    padding-right: 60px;
}

/* Styling for Contact Form Section */
.contact-form {
    background: rgba(5, 46, 88, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
}


/* Styling for Left Column */
.contact-form {
    background: rgba(5, 46, 88, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
  }
  
  .contact-sec {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
  
  .contact-sec .right-col {
    width: 30%;
    padding: 20px;
    background-color: rgb(18, 58, 97);
  }
  
  .contact-sec .left-col {
    width: 70%;
    padding: 20px;
  }
  
  .contact-sec .right-col img {
    width: 120px;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .contact-sec .right-col .social-icons {
    margin-top: 20px;
  }
  
  .contact-sec .right-col .social-icons a {
    color: var(--text-color);
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-sec .right-col .social-icons a:hover {
    background-color: var(--deep-color);
  }
  



form{
    padding: 0 10px;
}

.form-content div label {
    color: var(--text-color);
    float: left;
    text-transform: uppercase;
    margin: 0 0 5px 5px;
  }
  
  .form-content div input,
  .form-content div textarea {
    background: rgb(18, 58, 97);
    color: whitesmoke;
    font-weight: var(--regular);
    outline: none;
    border: none;
    font-size: var(--p-size);
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--midnight-color);
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Ensure padding is included in width */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .form-content div input[type="text"]:focus,
  .form-content div input[type="email"]:focus,
  .form-content div textarea:focus {
    background-color: rgba(5, 39, 72, 0.3); /* Adjust background color on focus */
    border: 1px solid var(--light-color); /* Border color on focus */
    color: var(--text-color); /* Text color on focus */
  }
  
  .form-content div input[type="text"]:focus::placeholder,
  .form-content div input[type="email"]:focus::placeholder,
  .form-content div textarea:focus::placeholder {
    color: var(--light-color);
  }
  
  /* Styling for Submit Button */
  .form-content div button.btn {
    background-color: var(--light-color);
    color: var(--text-color);
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-content div button.btn:hover {
    background-color: var(--midnight-color);
  }
  






/* footer styling*/
footer{
    padding: 20px 0;
    text-align: center;
}

footer hr{
    border: .1px solid rgba(6, 54, 96, 0.7);
}

.footer p{
    padding: 15px 0;
    user-select: none;
    color: var(--subtext-color);
}

.footer p span{
    font-size: 26px;
}